.input:focus {
    background-color: #F5F5FF;
}

.input {
    margin-right: 12px;
    height: 36px;
    width: 372px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding-left: 12px;
    outline: none;
}

.inputWrapper {
    display: grid;
}

.superInput {
    margin-right: 12px;
    height: 36px;
    width: 372px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding-left: 12px;
    outline: none;
}

.errorInput {
    border: 1px solid #CC1439;
    grid-area: 2 / 1;
}

.errorInput:focus {
    background-color: #FFF5F5;
}

.error {
    color: #CC1439;
    grid-area: 1 / 1;
}
